
body {
    background-image: url("../images/newCheck.jpg");
    background-repeat: repeat;
    background-size: 200px;
    }

h1 {
    background-color: lightblue;
    text-align: center;
    font-size: 80px;
    margin: 35px 200px 10px 200px;
}

h2 {
    background-color: lightblue;
    text-align: center;
    margin: 10px 400px 10px 400px;
}

tr {
    width: 33%;
    padding: 5px;
}

.explain {
    background-color: white;
    padding: 40px;
    padding-left: 60px;
    padding-right: 60px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 60px;
}

.gif {

}

.column {
    float: left;
    width: 33%;
    padding: 2px;
}

#left {
    float: left;
}

#right {
    float: right;
}

#center {
    margin-left: auto;
    margin-right: auto;
}
